<script>
    $(window).load(function () {
        // Animate loader off screen
        $(".spinner").fadeOut("slow");
    });
</script>
<div class="wrap">
    <div class="spinner-wrap">
        <div class="spinner">
            <i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i>
        </div>
    </div>
</div>