<h1>The Scraper</h1>

<a href="<%= country_scraper_path %>"><button class="center-block">Scrape Countries</button></a>
<a href="<%= stock_scraper_path %>"><button class="center-block">Scrape Companies</button></a>