The Scraper

<table class="container">
	<tr>
		<th></th>
		<th>Inflation Rate</th>
	</tr>
	<% @countries.zip(@inflation).each do |country, inflation| %>
	<tr>
		<td><%= country.print_name %></td>
		<td><%= inflation %></td>
	</tr>
	<% end %>
</table>