The Scraper

<% @country.each do |country, index| %>
    <% @url.each do |url| %>
        <div>
        <%= "https://tradingeconomics.com/#{country.name}#{url.slug}" %>
        </div><br>
    <% end %>
<% end %>

