The Scraper

<table class="container">
	<tr>
		<th></th>
		<th>Inflation Rate</th>
	</tr>
	<% @countries.zip(@actual).each do |country, actual| %>
	<tr>
		<td><%= country.print_name %></td>
		<td><%= actual %></td>
	</tr>
	<% end %>
</table>