<h1>The Scraper</h1>

<a href="<%= countries_path %>"><button class="center-block">Scrape Countries</button></a>
<a href="<%= stocks_path %>"><button class="center-block">Scrape Companies</button></a>